<div class="row account nested-fields">
  <div class="col-lg-3 col-xs-3">
    <%= f.association :bank, input_html: { class: 'select2' } %>
  </div>
  <div class="col-lg-2 col-xs-2">
    <%= f.association :bank_account_type, input_html: { class: 'select2' } %>
  </div>
  <div class="col-lg-2 col-xs-2">
    <%= f.input :agency %>
  </div>
  <div class="col-lg-2 col-xs-2">
    <%= f.input :number %>
  </div>
  <div class="col-lg-2 col-xs-2">
    <%= f.input :operation %>
  </div>
  <div class="col-md-1">
    <%= link_to_remove_association f, class: 'remove_account_fields' do %>
      <div class="btn btn-danger top-25">
        <i class="fa fa-fw fa-trash-alt"></i>
      </div>
    <% end %>
  </div>
</div>
