<div class="row address nested-fields">
  <div class="col-md-11">
    <div class="row">
      <%= f.input :description, placeholder: 'Ex: Casa, Trabalho', wrapper_html: { class: 'col-lg-3' } %>
      <%= f.input :zipcode, wrapper_html: { class: 'col-lg-3' } %>
      <%= f.input :street, wrapper_html: { class: 'col-lg-4' } %>
      <%= f.input :number, wrapper_html: { class: 'col-lg-2' } %>
    </div>
    <div class="row">
      <%= f.input :complement, wrapper_html: { class: 'col-lg-4' } %>
      <%= f.input :district, wrapper_html: { class: 'col-lg-4' } %>
      <%= f.association :city, wrapper_html: { class: 'col-lg-4' }, input_html: { class: 'select2' },
        collection: Proc.new{ City.order(:name).map{ |c| [c.name, c.id, data: { ibge: c.ibgeid }] } }
      %>
    </div>
  </div>
  <div class="col-md-1">
    <%= link_to_remove_association f, class: 'remove_address_fields' do %>
    <div class="btn btn-danger top-25">
      <i class="fa fa-fw fa-trash-alt"></i>
    </div>
    <% end %>
  </div>
</div>
