<%= simple_form_for(@user) do |f| %>
  <div class="card card-outline card-danger">
    <div class="card-header with-border">
      <h3 class="card-title">
        Dados do <%=t User.model_name.human %>
      </h3>
    </div>
    <div class="card-body">
      <%= f.input :name %>
      <%= f.input :username %>
      <%= f.input :email %>
      <%= f.input :password %>
    </div>
    <div class="card-footer">
      <%= link_to t('.cancel', default: t("helpers.links.cancel")), users_path, class: 'btn btn-default'  %>
      <%= f.submit  t('.save', default: t("helpers.links.save")), class: 'btn btn-danger' %>
    </div>
  </div>
<% end %>
