<% if order %>
  <div class="row">
    <div class="col-md-3">
      <strong><i class="fa fa-vcard-o margin-r-5"></i> <%= Order.human_attribute_name(:provider) %></strong>
      <p class="text-muted"><%= order.provider&.name %></p>
    </div>
    <div class="col-md-3">
      <strong><i class="fa fa-vcard-o margin-r-5"></i> <%= Order.human_attribute_name(:moment) %></strong>
      <p class="text-muted"><%= l order.moment, format: :datetime %></p>
    </div>
    <div class="col-md-3">
      <strong><i class="fa fa-vcard-o margin-r-5"></i> <%= Order.human_attribute_name(:unit) %></strong>
      <p class="text-muted"><%= order.unit&.fullpath %></p>
    </div>
    <div class="col-md-3">
      <strong><i class="fa fa-vcard-o margin-r-5"></i> <%= Order.human_attribute_name(:user) %></strong>
      <p class="text-muted"><%= order.user&.the_name %></p>
    </div>
  </div>
<% end %>
